{
  "extends": [
    "airbnb-base/legacy",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "globals": {
    "TestUtil": "readonly",
    "ROOT_PATH": "readonly"
  }
}
