{
  "extends": [
    "airbnb-base/legacy"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "globals": {
    "Promise": "readonly"
  }
}
